


    .second{font-weight:bold;}
    .third{font-size: 12px;}
    .fourth{font-style: italic;}
    .fifth{margin: 1em;}
    .sixth{border-bottom: 1px, solid, lightgray;}
    .seventh{color: #999;}


h1 {
    text-align: center;
    border-bottom: 2px, groove, white;
    font-family: Arial;
}










